* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    background: black;

}

/* .main-container {
    background-color: #f4f4f4;
} */


.main-container::after {
    content: '';
    clear: both;
    display: block;
}

.item {
    width: 100px;
    height: 100px;
    background: #fff;
    color: #d61da5;
    margin: 10px;
    float: left;
}




.item-child {
    width: 100px;
    height: 100px;
    background: #fff;
    color: #d61da5;
    margin: 10px;
    float: left;
}


.child-container::after {
    content: '';
    clear: both;
    display: block;
}

/* .child-container {
    background-color: #f4f4f4;
}  */


