body {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    font-family: "Nova Round", cursive;
    padding: 0;
    margin: auto;
    padding: 40px;
}


.flex-container {
    display: flex;
    width: 30rem;
    height: auto;
    margin:0;
    background-color: black;
    justify-content: center;
    transition: 0.3s;
    padding: 10px; 
    box-shadow: 10px 10px 14px 0px rgba(215, 29, 166, 0.75);
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


h1 {
    color: deeppink;
}

.h3 {
    color: antiquewhite;
    text-align: center;
}

button {
    height:auto;
    width: 5vw;
    font-family: "Nova Round", cursive;
    font-weight: bold;
    align-items: center;
    text-align: center;
    background-color: chartreuse;
    border-radius: 15px;
    color: deeppink;
    border: 2px dotted;
    box-shadow: 10px 10px 14px 0px rgba(215, 29, 166, 0.75);
}